-e git+ssh://git@github.com/lazmond3/pylib-hello-world.git@master#egg=lazmond3-pylib-hello-world # private package
# -e git+https://github.com/lazmond3/pylib-hello-world.git@master#egg=lazmond3-pylib-hello-world # public package